body {
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
  background: url("https://plus.unsplash.com/premium_photo-1701590725721-add548ecdf61?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.container {
  border: 2px solid black;
  display: flex;
  justify-content: center;    
  align-items: center;         
  flex-direction: row;         
  gap: 40px;                   
  padding: 40px;
  margin: 20px;
  background: url("https://wallpapercave.com/wp/wp7571042.png");
}
.card {
  border: 2px solid black;
  gap:20px;padding:20px;margin:auto;max-width: 1200px;
  align-items: center;         
}
.card {
  background-color: white;
  width: 220px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 2px solid #0800ff;
}
.card img {
  width: 100%;
  height:200px;
  object-fit: cover;
  border-radius: 8px;}
h3 {
  margin-bottom: 5px;}
p {
  margin: 5px 0;
  font-size: 14px;}
h1{
    text-align: center;
    color: #02011b;
}
button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #0500cc;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
@media (max-width: 600px)
 {
  .card img{
    height:150px;
  } 
    .card h3{
    font-size: 16px;
  }
  .card p{
    font-size: 12px;
  }
  button {
    background-color: aqua;
}
 }
  @media(min-width: 601px) and (max-width: 1024px){
    .card img{
    height:180px;
  }
  .card h3{
    font-size: 18px;
  }
   button {
    background-color: rgb(182, 212, 10);
}

} 