body {
    font-family: Arial, sans-serif;
    background-color: yellow;
    margin:20px;
    text-align:center;
}
h1{
    color:darkred;
    margin-bottom:30px;
}
.product-card   {
    background-color:white;
    border: 3px solid red;
    border:2px solid black;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}
.product-image  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    color:blue;
    margin-top:15px;
}
.product-description h2 {
    font-size: 14px;
    color:dimgray;
    margin: 15px 0;
}
.product-price {
    font-size: 18px;
    color:red;
    font-weight: bold;
    margin-bottom: 15px;
}
.add-to-cart-button {
    background-color: #28a745;
    color: darkgreen;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    
    
}
.add-to-cart-button:hover {
    background-color: darkblue;
    
}
    