body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f4;
    margin:20px;
    text-align:center;
}
h1{
    color:red;
    margin-bottom:30px;
}
.product-card {
    background-color:black;
    border: 1px solid red;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    border-radius:8px;
}
.product-image  h2{
    width: 100%;
    height: auto;
    border-radius: 5px;
    color:#333;
    margin-top:15px;
}
.product-description {
    font-size: 14px;
    color:yellow;
    margin: 15px 0;
}
.product-price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}
.add-to-cart-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    
}
.add-to-cart-button:hover {
    background-color: #218838;
    
}
    